<header>
    <div id="header-top">
        <h1 class="site-title">
            <a href="{{ "/" | relURL }}"><span class="initial">M</span>anaka <span class="initial">H</span>arumichi</a>
        </h1>
        <button id="theme-toggle" class="theme-toggle" aria-label="テーマ切り替え">
            <svg class="theme-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                viewBox="0 0 16 16" data-light-icon="sun-fill" data-dark-icon="moon-fill">
                <path
                    d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278" />
            </svg>
        </button>
    </div>

    <nav id="site-nav">
        <ul>
            <li class="nav-item {{ if .IsHome }}active{{ end }}">
                <a href="{{ "/" | relURL }}">
                    <img src="{{ .Site.Params.nav_icon_light | relURL }}"
                        data-light-icon="{{ .Site.Params.nav_icon_light | relURL }}"
                        data-dark-icon="{{ .Site.Params.nav_icon_dark | relURL }}" alt="" class="nav-icon">
                    Home
                </a>
            </li>
            {{ range .Site.Sections }}
            <li class="nav-item {{ if eq $.Section .Section }}active{{ end }}">
                <a href="{{ .RelPermalink }}">
                    <img src="{{ $.Site.Params.nav_icon_light | relURL }}"
                        data-light-icon="{{ $.Site.Params.nav_icon_light | relURL }}"
                        data-dark-icon="{{ $.Site.Params.nav_icon_dark | relURL }}" alt="" class="nav-icon">
                    {{ .Title }}
                </a>
            </li>
            {{ end }}
        </ul>
    </nav>
</header>