<li class="page-item">
    <a href="{{ .RelPermalink }}" class="page-link">
        <div class="page-header">
            <h3 class="page-title">
                {{ $title := .Title }}
                <span class="initial">{{ substr $title 0 1 }}</span>{{ substr $title 1 }}
            </h3>
            {{ if and .Date (ne .Section "diary") }}
            <time class="page-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006年1月2日" }}</time>
            {{ end }}
        </div>
        {{ if .Site.Params.show_description }}
        <hr>
        {{ if .Description }}
        <p class="page-description">{{ .Description }}</p>
        {{ else if .Summary }}
        {{ $summaryLength := .Site.Params.summary_length | default 100 }}
        {{ $summary := .Summary | plainify | truncate $summaryLength "......" }}
        <div class="page-description">{{ $summary }}</div>
        {{ end }}
        {{ end }}
    </a>
</li>
